*{
	margin: 0;
	padding: 0;
}
a {
	color: white;
}
a:hover{
	text-decoration: none;
	color: lavender;
}

/* navbar css */
ul li 
{
	padding: 5px;
	font-size: 20px;
}
.nav-item a:hover
{
	color: red!important;
}
.act1 a
{
	color: red!important;
}
#company-logo
{
	width: 200px;
	height: 50px;
}
/* home page css */
/* .cols
{
	padding: 4px 4px;
} */

bill:hover
{
	color: white!important;
}

/* consumer css */
.consumer
{
	margin-top: 5%;
}
#con-cards
{
	margin-left: 30%;
}
h3
{
	color: #e03339;
}
.query span
{
	color: #e03339;
}
.far
{
	font-size: 30px;
	color: white;
}
.card-title
{
	color: white;
	font-weight: bold;
	
	z-index: 1;
}
.consumer-card1
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('assets/img/coustomer1.jpg');
	background-size: cover;
	border-radius: 0;
	opacity: .6;
}
.consumer-card2
{
	background-image:linear-gradient(rgba(200,0,0,0.5),rgba(200,0,0,0.5)), url('assets/img/contactus.jpg');
	background-size: cover;
	border-radius: 0;
	opacity: .7;
}
.consumer-card3
{
	background-image: linear-gradient(rgba(200,0,0,0.5),rgba(200,0,0,0.5)),url('assets/img/contactus.jpg');
	background-size: cover;
	border-radius: 0;
	opacity: .7;

}
.consumer-card4
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('assets/img/consumer3.jpg');
	background-size: cover;
	border-radius: 0;
	opacity: .6;
}

/* channels css */
.channels
{
	margin-top: 5%;
}
/* #cols div img
{
	margin-left: 60%!important;
} */
.hindi-channels
{
	margin-top: 7%;
}
.hindi-entertainment
{
	margin-top: 7%;
}
.hindi-regional
{
	margin-top: 7%;
}
.hindi-news
{
	margin-top: 7%;
}
.english-entertainment
{
	margin-top: 7%;
}
.english-movies
{
	margin-top: 7%;
}
.english-news
{
	margin-top: 7%;
}
.sports
{
	margin-top: 7%;
}
.spriitual
{
	margin-top: 7%;
}
.telugu-regional
{
	margin-top: 7%;
}
.bengali-regional
{
	margin-top: 7%;
}
.odia-regional
{
	margin-top: 7%;
}
.doordarshan
{
	margin-top: 7%;
}
.kids
{
	margin-top: 7%;
}
.knowledge
{
	margin-top: 7%;
}
.others
{
	margin-top: 7%;
}
.shopping
{
	margin-top: 7%;
}
.hd-channels
{
	margin-top: 7%;
}

/* contact us css */
.contact
{
	margin-top: 5%;
}
.carousel-control-prev-icon
{
	background-color: lightgray;
}
.carousel-control-next-icon
{
	background-color: lightgray;
}
/* .cols
{
	margin-left: 2%;
} */
/* Footer css */
footer
{
	margin-top: 10%;
}
footer p a
{
	padding: 5px;
}
	/* media query  */
@media (max-width: 768px) 
{ 
	 #tech-partner
		{
			height: 200px;
		} 
 }
 @media (max-width: 576px)
{
	 #tech-partner
		{
			height: 400px;
		} 
	.welcome
	{
		width: 100%;
		height: auto;
	}
	.consumer
	{
		margin-top: 15%;
	}
	.contact
	{
		margin-top: 15%;
	}
	#con-cards
	{
		margin-left: 10%;
	}
	#con-img
	{
		width: 100%;
		height: auto;
	}

}
/* scroll plugin */

#scrollUp
	{
		bottom: 20px;
		right: 20px;
		background-image: url("assets/img/top.png");
		width: 38px;
		height:38px;
	}